.main {
	@include flex-row-center;
	grid-area: main;
	align-items: center;
	justify-items: auto;
	.preskit {
		display: inline-block;
		width: auto;
	}
    .cara {
        display: inline-block;
        align-items: center;
        left: 100%;
        width: 50%;
        border-radius: 80%;
    }
}